/* 
Page Styles

1.Typography
font-family:  Crimson Pro(logo), Lora(heading), Montserrat
font-size: 1.4rem(logo), 1.8rem(nav&links), 4.8rem(hdng), 2.4rem(para)
font-weight: Montserrat - 400, 500, 700 , Lora - 700, Crimson Pro - 200

font-family: 'Crimson Pro', serif;


2. Colors
background: #181719;
text: #fff
*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    background-color: #181719;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container
{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;

}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 4.8rem 0;
    position: relative;
}
.nav-list li 
{
    list-style: none;
    
}

.nav-link:link,
.nav-link:visited
{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
    padding-bottom: 5px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}
/*.nav-link:active,
.nav-link:hover
{
    text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff;
    font-weight: 700;
    border-bottom: 2px solid #fff;  
}*/

#default
{
    font-weight: 700;
    border-bottom: 2px solid #fff; 

}

/*Logo */
.logo
{
    font-size: 1.4rem;
    border: .1rem solid #fff;
    text-transform: uppercase;
    padding: .8rem;
    cursor: pointer;
}

/* Navigation */
.nav-list
{
    display: flex;
    gap: 12rem;
}


/* Hero Section */
.hero-section
{
    padding: 12.8rem 0;
}

.grid   
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-box
{
    position: relative;
}
.img-box img
{
    width: 100%;
}

.content
{
    padding: 4.8rem 10rem 4.8rem 0;
}
.heading--primary
{
    font-size: 4.8rem;
    font-family: 'Lora', serif;
    font-weight: 500;   
    margin-bottom: 3.2rem;
}
.description
{
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 6.4rem;
}
.content-link
{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.content-link>span
{
    text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff;
}
.author-card
{
    position: absolute;
    bottom: -100px;
    right: 20px;
    background-color:#181719;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
 
}
.author-box
{
    display: flex;
    gap: 2.4rem;
    align-items: center;

}
.author-info
{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    font-family: 'Montserrat', sans-serif;

}
.author-name
{
    font-size: 1.4rem;

}
.job-title
{
    font-size: 1.2rem;
    color: #828282;
}
.author-img img
{
    width: 60px;
    border-radius: 50%;
}

.author-description
{
    font-size: 2rem;
    font-family: 'Lora', serif;
    width: 75%;
}
/* Small Navigation */
.sm-navigation
{
    border: none;
    background: none;
    color:#fff;
    cursor: pointer;
  
    /* Hides the button from visibility */
    display: none;
}
.material-symbols-outlined
{
   transform: scale(1.4);
}
/* This helps us to only view menu button. Since, that's what we need in 1st place */
.close-icon
{
    display: none;
}

@media(max-width:68.75em)
{
    html
    {
        font-size: 56.25%;
    }
}

@media(max-width:56.875em)
{
    html
    {
        font-size: 50%;
    }
}

@media(max-width:50.7em)
{
    html
    {
        font-size: 62.5%;
    }
    .grid
    {
        grid-template-columns: 1fr;
    }

     /* Ham Navigation */
    .sm-navigation
    {
          display: block;
          z-index: 999;
    }
    .header-nav
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #181719;
        z-index: 999;


        display: flex;
        justify-content: center;
        align-items: center;


        /* 1)Hide it visually */
        opacity: 0;

        /* 2)Make it unaccessible to mouse and keyboard */
        pointer-events: none;
 
        /* 3) Hide it from screen readers */
        visibility: hidden;

         
        transition: all .5s ease-in;
        transform: translateX(100%);
 

    }
    .nav-open .header-nav
    {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .close-icon
    {
        display: block;
    }
    .nav-open .menu-icon
    {
        display: none;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
        gap: 4.8rem;
    }

    .author-card
    {
        right: 20%;
    }
    .hero-section{
        padding-top: 0;
    }
}

@media(max-width:33.75em)
{
    html
    {
        font-size: 56.25%;
    }
    .author-card
    {
        right: 15%;
    }
}

@media(max-width:26.25em)
{
    /* html
    {
        font-size: 50%;
    } */
    .container
    {
        padding: 0 1.6rem;
    }
    .heading--primary
    {
        font-size: 4rem;
    }
    .author-card
    {
        right: 5%;
    }
}
@media(max-width:25em)
{
    html
    {
        font-size:50%;
    }
}
/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */